<ion-header translucent>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button disabled="true">
        <ion-icon slot="icon-only" os="ios-restaurant" md="md-restaurant"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Mes restaurants</ion-title>

<!--  <ion-buttons slot="primary">
      <ion-button disabled="true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons> -->

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="coordinates">
    {{ coordinates.lat }}
    {{ coordinates.lng}}
  </ion-card>

  <ion-searchbar [(ngModel)]="address" placeholder="Votre adresse" (ionBlur)="consoleChanged()"></ion-searchbar>
  <ion-item>
    <ion-label>Minimum de notre</ion-label>
    <ion-input [(ngModel)]="min_rate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Minimum d'avis</ion-label>
    <ion-input [(ngModel)]="min_nb_reviews"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Ouvert ?</ion-label>
    <ion-toggle [(ngModel)]="is_open"></ion-toggle>
  </ion-item>






  {{ address }}
  {{ min_rate }}
  {{ min_nb_reviews }}
  {{ is_open }}


  <ion-list>
    <ion-item button *ngFor="let item of restaurants_results">
      <ion-avatar slot="start" *ngIf="item.photos">
        <img [src]="'https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=' + item.photos[0].photo_reference + '&sensor=false&key=' + api_key">
      </ion-avatar>

      <ion-label text-wrap>
        <h3><b> {{ item.name }} </b> <br>
        <ion-icon name="pin" slot="start" > </ion-icon>
        {{ item.vicinity }} <br>
        <ion-rating
              *ngIf="item.rating"
              [rate]="item.rating"
              readonly="true"
              size="small"
              style="vertical-align: middle;">
        </ion-rating>
        <b *ngIf="item.rating"> {{ item.rating.toFixed(1) }} </b> <br>
        {{ item.user_ratings_total }} commentaires </h3>
      </ion-label>

    </ion-item>
  </ion-list>

  <ion-button expand="block" shape="round" (click)="launchRestaurantSearch()" color="tertiary">
    <ion-icon name="pin" slot="start" ></ion-icon>
    Recherche
  </ion-button>
</ion-content>
