<ion-header>
  <ion-toolbar>
    <ion-title>restaurants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="coordinates">
    {{ coordinates.lat }}
    {{ coordinates.lng}}
  </ion-card>
  {{ next_page_token}}

  <ion-searchbar [(ngModel)]="address" placeholder="Votre adresse" (ionBlur)="updateAddress()"></ion-searchbar>
  <ion-item>
    <ion-label>Aucun filtre ?</ion-label>
    <ion-toggle [(ngModel)]="no_filter"></ion-toggle>
  </ion-item>
  <ion-item-group *ngIf="!no_filter">
    <ion-item>
      <ion-label>Minimum de note</ion-label>
      <ion-input [(ngModel)]="min_rate"type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Minimum d'avis</ion-label>
      <ion-input [(ngModel)]="min_nb_reviews" type="number" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Ouvert ?</ion-label>
      <ion-toggle [(ngModel)]="is_open"></ion-toggle>
    </ion-item>
  </ion-item-group>

  {{ address }}
  {{ min_rate }}
  {{ min_nb_reviews }}
  {{ is_open }}


  <ion-button expand="full" (click)="launchRestaurantSearch()" color="danger">
    <ion-icon name="open" slot="start" ></ion-icon>
    Search
  </ion-button>

  <ion-list>
    <ion-item button *ngFor="let item of restaurants_results">
      <ion-avatar slot="start" *ngIf="item.photos">
        <img [src]="'https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=' + item.photos[0].photo_reference + '&sensor=false&key=' + api_key">
      </ion-avatar>

      <ion-label text-wrap>
        <h3>{{ item.name }}</h3>
        {{ item.vicinity }}
        <span *ngIf="item.rating"> {{ item.rating.toFixed(1) }} </span>
        {{ item.user_ratings_total }}
        {{ item.price_level}}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="nextPageRestaurants($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
